<div>

  <header class="modal-header header">
    <nav class="navbar-dark na">
      <a routerLink="/" class="btn btn-link nav-item">Home</a>
    </nav>
  </header>

  <body>
  <div class="container">
    <br>
    <br>
    <br>
  <ul>
    <li class="row">
      <div class="col-2"></div>
      <b class="col-1"> Filters</b>
      <select class="col-3" [(ngModel)]="selected_kingdom" class="col-2 form-control">
        <option selected="selected" style="display: none;">Select a Kingdom</option>
        <option [value]="kingdom[0]" *ngFor="let kingdom of kingdoms" class="form-control">{{kingdom[0]}}</option>
      </select>
      <button (click)="getHousesForKingdom(selected_kingdom)" class="btn btn-success">Apply Filters</button>
      <button (click)="ngOnInit()" class="btn btn-danger">Remove Filters</button>
    </li>
    <br>
    <br>
    <li class="row">
      <b class="col-3">House Name</b>
      <b class="col-3">House Kingdom</b>
      <b class="col-3">Characters alive</b>
    </li>
  <br>
    <li class="row">
      <input [(ngModel)]="name" class="col-3 form-control" placeholder="Enter House Name">
      <input [(ngModel)]="region" class="col-3 form-control" placeholder="Enter Kingdom Name">
      <div class = col-3></div>
      <button (click)="createHouse(house)" class="btn btn-success">+</button>
      <button (click)="updateHouse(house)" class="btn btn-primary">Save Update</button>
    </li>
  <br>
    <div *ngFor="let house of houses">
      <li class="row form-row">
        <div class="col-3">
          <b>{{house[0]}}</b>
        </div>
        <div class="col-3">
          <b>{{house[1]}}</b>
        </div>
        <div class="col-3">
          <b>{{house[2]}}</b>
        </div>
        <div>
          <button (click)="deleteHouse(house[0])" class="btn btn-danger">X</button>
        </div>
        <div>
          <button (click)="populate(house)" class="btn btn-link">Populate Data</button>
        </div>
      </li>
        <br>
    </div>
  </ul>
  </div>
  </body>
</div>
