.header {
  background-color: black;
}

.footer {
  background-color: black;
}

a{
  color: white;
}

i{
  color: white;
}

label{
  color: white;
}

body{
  background-image: url("https://images7.alphacoders.com/838/838517.png");
  width: 100%;
  height: 100%;
  position: relative;
  top: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  background-attachment: fixed;
}
