
<div class="home">

  <header class="modal-header header">
    <nav class="navbar-dark na">
      <a routerLink="/" class="btn btn-link nav-item">Home</a>
    </nav>
  </header>

  <body>
  <div class="home-cnt row">
    <a routerLink="/seasons" class="btn btn-link font-custom col-2"><h5><u>Seasons</u></h5></a><br>
    <a routerLink="/kingdoms" class="btn btn-link font-custom col-2"><h5><u>Kingdoms</u></h5></a><br>
    <a routerLink="/houses" class="btn btn-link font-custom col-2"><h5><u>Houses</u></h5></a><br>
    <a routerLink="/characters" class="btn btn-link font-custom col-2"><h5><u>Characters</u></h5></a><br>
    <a routerLink="/animals" class="btn btn-link font-custom col-2"><h5><u>Animals</u></h5></a><br>
    <a routerLink="/events" class="btn btn-link font-custom col-2"><h5><u>Events</u></h5></a><br>
  </div>
  </body>

  <footer class="modal-footer footer">
    <i>Copyright - Javesh Monga and Ayush Shukla</i>
  </footer>
</div>

